<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Main menu" aria-label="Public main menu">
        <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/">Home</button>
            <button mat-menu-item routerLink="/login">Login</button>
            <button mat-menu-item routerLink="/schedule">Schedule</button>
            <button mat-menu-item routerLink="/observations">Observations</button>
        </mat-menu>
        <span class="header-font">Landolt NASA Mission ARLO</span>
        <span class="fill-remaining-space"></span>
        <button mat-button matTooltip="Home" routerLink="/"><mat-icon>home</mat-icon></button> 
    </mat-toolbar-row>
    
</mat-toolbar>
