aplpy==2.1.0
astropy==5.3.4
astroquery==0.4.6
matplotlib==3.8.0
miepython==2.5.4
numpy==2.0.0
pandas==2.2.2
Pillow==10.4.0
pytz==2024.1
query==0.1.4
Requests==2.32.3
scipy==1.14.0
sgp4==2.23
skyfield==1.49
utils==1.0.2
